{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UNIVESP - PI</title>
  <!-- Inclua os arquivos CSS do Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <script>
    function escola() {
        var escola = $('#escolas').find(":selected").val();
        location.href = '/dados/escolas/'+escola;
    }
  </script>

</head>
<body class="d-flex flex-column min-vh-100" style="background: linear-gradient(rgb(244, 248, 163), #FFFFE0, white);">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'dados-home' %}">Estatísticas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dados-home' %}">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'escolas-dash' %}">Matemática</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'escolas-home' %}">Gráficos</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="container mt-5">
    {% block content %}

    {% endblock %}
  </main>


  
  <footer class="footer container mt-5 bg-dark">

    {% block rodape %}

    {% endblock %}

  </footer>
 

  <!-- Inclua os arquivos JavaScript do Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script>
    {% block js %}

    {% endblock %}
  </script>
</body>
</html>