<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADAS - ANALISE DE DADOS SARESP - SP</title>
</head>

<img src="static\img\sp.png" alt="RANKING DAS ESCOLAS DO MUNICIO DE PINDAMONHANGABA" width="50" height="40">

<H1>RANKING DAS ESCOLAS DO MUNICIO DE PINDAMONHANGABA</H1>

<body>
    <title>RANKING DAS ESCOLAS DO MUNICIPIO DE PINDAMONHANGABA</title>   
</body>
</html>