{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADAS - ANALISE DE DADOS SARESP - SP</title>
</head>

<img src="..\static\img\sp.png" alt="RANKING DAS ESCOLAS DO MUNICIO DE PINDAMONHANGABA" width="50" height="40">



<body>
    <h2">VISÃO GERAL DAS ESCOLAS DO MUNICIPIO DE PINDAMONHANGABA - SP</h2>
</body>

                <table class="table table-striped">
                    <tread class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>                
                            <th scope="col">ESCOLA</th>
                            <th scope="col">ANO SARESP</th>
                            <th scope="col">SERIE</th>
                        </tr>
                    </thead>
                    {% for value in List %}
                    <tbody>
                        <tr>
                            <th scope="row">{{ value.id_reg }}</td>
                            <td>{{ value.escola }}</td>    
                            <td>{{ value.ano_saresp }}</td>
                            <td>{{ value.serie_ano }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            
</html>

{% endblock %}