{% extends 'base.html' %}
{% load static %}
{% block content %}
    <select onchange="escola()" id="escolas">
        <option disabled SELECTED>Selecione uma escola</option>
        <option enable SELECTED>Selecione uma escola</option>
        {% for escola in escolas %}
            <option value="{{ escola.codesc }}">{{ escola.escola }}</option>
        {% endfor %}
    </select>

    <div>
        <div id="bt">
           <a href="..\..\">Retornar a Home</a>
        </div>
    </div>

    {% block dados_escola %}
    {% endblock %}

    
{% endblock %}

{% block rodape %}

<style>

    #bt{
        position:absolute; 
        top:13%;
        left:60%;
        background: #8d91948e;
        color: black;
	    border: 1px solid #eee;
    	border-radius: 20px;
	    box-shadow: 3px 3px 3px #eee;
        border: 1px solid #eee;
        text-shadow: none;
        font-size: 10pt;
        text-align: center;
        line-height: 30px;
        height: 35px;
        width: 200px;
        bottom: auto;
    transform: translate(-50%, -50%);
    }
        body {
        background: linear-gradient(grey,#FFFFE0, white);
        width: 100%;
        height: 930px;
        font-size: auto;
        text-align: justify;
    }
  h5{
  position: absolute;
  bottom: 40px;
  background-color: grey,#FFFFE0, white;
  color: black;
  width: 100%;
  height: 100px;
  text-align: center;
  }
  h6{
  position: absolute;
  bottom: 0;
  background-color: grey, #FFFFE0, white;
  color: black;
  width: 100%;
  height: 100px;
  text-align: center;
  
  }
</style>

<p>
  <h5 class="lead">ADAS - ANÁLISE DE DADOS SARESP</h5>
  <br>
</p>
<br><br>
<p>
    <br>
    <h6>Desenvolvido por Alunos UNIVESP</h6>
</p>

<br>


{% endblock %}
