{% extends 'base.html' %}
{% load static %}



<!-- CSS adicional -->
{% block content %}

<style>
    body {
        background: linear-gradient(#FFFFE0, white);
        width: 100%;
        font-size: 20px;
        text-align: justify;
    }

    h1{
        text-align: center;
    }



    p{
    position: absolute;
    bottom: 0;
    background: linear-gradient(#FFFFE0, white);
    color: #FFF;
    width: 100%;
    
    text-align: center;
    
    }
</style>




    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <h1>SOBRE ADAS</h1>

    <br>

    <h2>ADAS - ANÁLISE DE DADOS SARESP</h2>

    <br>

    Esta aplicação foi desenvolvida pelos alunos dos cursos de Ciência de Dados e Engenharia da Computação como forma de
    avaliação da disciplina de Projeto Integrador IV da faculdade Virtual do Estado de São Paulo (UNIVESP).
    Como o tema norteador foi proposto aos alunos desenvolverem uma aplicação contendo análise de dados em escala utilizando
    conjunto de dados existentes, aprendizagem de máquina e ainda preparar uma interface para a visualização dos resultados
    Diante disso, a equipe procurou junto a comunidade possíveis problemas ou dificuldades que eles enfrentem no cotidiano,
    aonde foi escolhido os desafios da educação básica nas unidades estaduais de ensino da cidade de Pindamonhangaba, região
    metropolitana do estado de São Paulo.
    Um dos meios de avaliação do ensino ofertadas pela Secretaria de Educação se dá através do Sistema de Avaliação de
    Rendimento Escolar do Estado de São Paulo (SARESP), ao qual é aplicado anualmente em toda rede, para os alunos do 9º do
    Ensino Fundamental e 3° ano do Ensino Médio.
    Esses dados são ofertados pela instituição de maneira pública, porém de modo não compilado, englobando listas extensas
    de informações sem a disponibilização de filtros, o que dificulta na consulta pontual do rendimento de uma cidade
    especifica ou de uma unidade de ensino em particular.
    A não disponibilização destes resultados de forma simples e concisa, pode dificultar na elaboração de planos de ensino
    voltados para uma comunidade, não atendendo assim as suas demandas e defasagens. Essa situação agravou-se mais durante o
    período pandêmico de COVID-19, onde foi adotado o sistema de tele aulas, acentuando as desigualdades entre as classes
    sociais, visto que muitos alunos nem sequer tinham computadores e acesso a rede no dia a dia.
    Diante disso, o objetivo desse trabalho foi desenvolver um software WEB que permita que os usuários, gestores e até
    mesmo pais de alunos, tenham acesso as informações sobre a evolução das unidades de ensino aos longos dos anos,
    facilitando na elaboração de medidas corretivas para ajudar os seus alunos.
    Para tanto, foi tomado como base os anos entre 2019 a 2022, aos quais englobam todo o período de pré e pós pandemia de
    COVID-19, onde é possível acompanhar a média das notas de cada escola, possibilitando acompanhar a evolução das notas e
    o pareamento de informações com outras escolas da região.



<br>
{% endblock %}

{% block js %}

{% endblock %}

{% block rodape %}

<style>
  h5{
  position: relative;
  bottom: auto;
  background: linear-gradient(#FFFFE0, white);
  color: black;
  
 
  text-align: center;
  }
  h6{
  position: relative;
  bottom:auto;
  background: linear-gradient(#FFFFE0, white);
  color: black;

 
  text-align: center;
  }

  img{
    position: relative;
    bottom:auto;
    
  }

  footer{
    background: linear-gradient(#FFFFE0, white);
  }
  
</style>

<p>
<h5>ADAS - ANÁLISE DE DADOS SARESP</h5>
</p>

<p>
<h6>Desenvolvido por Alunos UNIVESP</h6>
</p>


<div class="col-md-4 mx-auto text-center">
  <img src="{% static 'img/univesp.png' %}" class="float-center" alt="mx-auto">
</div>
{% endblock %}

  



